<section class="thirteen columns">
  <h1>About Me</h1>
  <article>
    <header>
      <h1>Hi! I am Zhewen, nice to meet you! </h1>
<      <h1>Joining HKUST (Hong kong) this July as a research assistant, will work on video streaming and network systems.</h1><
        <h1>Now actively seeking Ph.D. positions in systems (25 Spring, 25 Fall etc.), if you are interested in hiring an experienced and self-motivated candidate, please do not hesitate and contact me so we can talk!</h1>
        <br>
        <span style="color: black; display: block; margin-bottom: 1em;">My name is Zhewen Yang (杨哲闻), I know it is hard to pronounce,
        so you can also call me Lucas. I was born in China, a beautiful country with amazing peoples.
         <br>
            <br style="margin-bottom: 1em;"> I'm currently a graduate student in Computer Science at Johns Hopkins University, located in Baltimore, MD.
         <br>
            <br style="margin-bottom: 1em;"> Before coming to the United States, I earned my bachelor's degree in Computer Science (Honors Science Program) from Xi'an Jiaotong University in China. During my gap year, I was fortunate enough to spend time at Nanjing University, where I worked on research projects in the State Key Laboratory for Novel Software Technology under the supervision of Professor <a href="https://cs.nju.edu.cn/tianchen/index.htm"style="color: blue;">Chen Tian</a>.
         <br>
            <br style="margin-bottom: 1em;">At JHU, I am also studying Computer Science major. Also, I'm pursuing my interests in computer systems, particularly in distributed systems and networking systems. I have participated researches under the guidance of Professor <a href="https://web.eecs.umich.edu/~ryanph/"style="color: blue;">Ryan Huang</a> on Distributed Systems and Professor <a href="https://www2.eecs.berkeley.edu/Faculty/Homepages/shenker.html"style="color: blue";>Scott Shenker</a> on Network Architecture. And now I have joined HKUST work with Prof. <a href="https://zilimeng.com/"style="color: blue;">Zili Meng</a> on video streaming and network systems related projects. If you're interested in collaborating with me or have any exciting ideas, please don't hesitate to contact me via email! I'll graduate from my Master's program soon, and I am looking for a PhD program opportunity now!
         <br>
            <br style="margin-bottom: 1em;">Apart from my academic interests, I'm a passionate sports and pop Culture enthusiast as well as a sports fan.
        I am a fan of OBJ (Odell Beckham jr.), ZO2 (Lonzo Ball) and Sho-time (Shohei Ohtani). I am also a huge Sci-Fi fan who addicted to Star Wars.
        I love music (although I can not play a single instrument), I love music from David Tao and the weeknd.
        <br style="margin-bottom: 1em;">Thank you for taking the time to learn a bit more about me. Let's connect and see how we can make the world a better place through technology and our shared interests!
        <br>
        <br><b>Check out my <a href="/ZhewenYang_CV_JHU_for%20_research_2024_n.pdf">CV</a> here!</b>


      </span>

    </header>
    <!--        <p>-->
    <!--            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>-->
    <!--        </p>-->
  </article>
</section>
