<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Maters of Engineering<br>MSE in Computer Science</h1>
            <span>Johns Hopkings University</span>
            <span><address>Baltimore, MD</address><time>2023 Jan - Now</time></span>
        </header>
<!--        <p>-->
<!--            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>-->
<!--        </p>-->
    </article>
    <article>
        <header>
            <h1>Bachelor of Engineering<br>Computer Science and Technology (Honors Science Program)
            </h1>
            <span>Xi'an Jiaotong University</span>
            <span><address>Xi'an, China</address><time>2017 Sept - 2021 May</time></span>
        </header>
<!--        <p>-->
<!--            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>-->
<!--        </p>-->
    </article>
</section>
