<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Johns Hopkings University</h1>

<!--                <span>Johns Hopkings University</span>-->
            <span><p>Maters of Engineering<br>Computer Science<br></p><address>Baltimore, MD</address><time>Jan 2023 to Now</time></span>
        </header>
<!--        <p>-->
<!--            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>-->
<!--        </p>-->
    </article>
    <article>
        <header>
            <h1>Xi'an Jiaotong University (China)
            </h1>

<!--            <span>Xi'an Jiaotong University</span>-->
            <span><p>Bachelor of Engineering<br>Computer Science and Technology (Honors Science Program)</p><br><address>Xi'an, China</address><time>Sept 2017 to May 2021 </time></span>
        </header>
<!--        <p>-->
<!--            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>-->
<!--        </p>-->
    </article>
</section>
