<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Research Assistant</h1>
            <span><address>Nanjing University, China</address><time>Jan 2021 to Nov 2022</time></span>
        </header>
        <p>Publication: "Norma: Towards Practical Network Load Testing." In Proceedings of USENIX NSDI, 2023 (3rd student author)
            <br>Project: Bandwidth Allocation Among Tenants with QoS (Quality of Service) System Development and Research in
            Datacenter Networks (Patent application in progress)</p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>Nanjing University, China</address><time>Jan 2022 to Jun 2022</time></span>
        </header>
        <p>Being a TA of the Computer Network course (teaching by Prof. Chen Tian) at Nanjing University
        <br>Designed and implied the course HWs and exams</p>
    </article>
    <article>
        <header>
            <h1>Software Developer Intern</h1>
            <span><address>Baidu, Inc., China</address><time>Jan 2020 to Feb 2020</time></span>
        </header>
        <p>Designed and developed end-to-end solutions, including site acceleration, continuous delivery, capacity management, elastic computing, failure analysis, traffic distribution, and performance tuning
            <br>Designed programs of 500+ lines using C++ and Java to conduct maintenance of the Baidu Voice Assistant system and network during the Chinese New Year peak network usage period, and reduced error rate by 10%-20%
            <br>Pitched the program to the company and successfully incorporated it into DuerOs, a popular smart home appliance</p>
    </article>
    <article>
        <header>
            <h1>Student Researcher</h1>
            <span><address>Xi'an Jiaotong University</address><time>Dec 2019 to Dec 2020</time></span>
        </header>
        <p>As a intern researcher in ANTS Lab with the guidance of Prof. <a href="http://nskeylab.xjtu.edu.cn/people/pzhang/">Peng Zhang</a> and Prof. <a href="https://aquatoney.github.io/"> Hao Li</a>
            <br>Did studies and research works on topics of networking verification</p>
    </article>
    <article>
        <header>
            <h1>Exchange Student</h1>
            <span><address>University of California, Berkeley, CA</address><time>Aug 2019 to Dec 2019</time></span>
        </header>
        <p>Fully funded by Xi'an Jiaotong University to be in the Berkeley International Study Program
            <br>Courses: Introduction to Database, Machine Structures, Numerical Analysis</p>
    </article>
    <article>
        <header>
            <h1>Summer School Student</h1>
            <span><address>University of Alberta, Canada</address><time>Aug 2019 to Dec 2019</time></span>
        </header>
        <p>Fully funded by Xi'an Jiaotong University to be in the International Undergraduate Summer Enrichment Program in Mathematics
            <br>Took lectures and finished a statistical machine learning project</p>
    </article>
<!--    <article>-->
<!--        <header>-->
<!--            <h1>iOS Developer</h1>-->
<!--            <span><address>Student Start-up, Glasgow, UK</address><time>2013</time></span>-->
<!--        </header>-->
<!--        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>-->
<!--    </article>-->
<!--    <article>-->
<!--        <header>-->
<!--            <h1>Web Developer</h1>-->
<!--            <span><address>Birmingham, UK</address><time>2007 to 2010</time></span>-->
<!--        </header>-->
<!--        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.-->
<!--            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.-->
<!--        </p>-->
<!--    </article>-->
</section>
