<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <p><a href="https://www.usenix.org/conference/nsdi23/presentation/chen-yanqing"><strong>Norma: Towards Practical Network Load Testing</strong></a> [<a href="https://www.usenix.org/conference/nsdi23/">NSDI'23</a>]  <br> (3rd student author and the speaker on conference.) <br><a href="https://www.youtube.com/watch?v=pbtx40VPKNY">Checkout the presentation video here!</a> </p>
    </article>
    <article>
        <p><strong>ProNet: Network-level Bandwidth Sharing among
            Tenants in Cloud</strong> [<a href="https://arxiv.org/abs/2305.02560">arXiv</a>]  <br> Still working on it for future conferences</p>
    </article>
    <article>
        <p><strong>An effective video transmission method to improve video quality with lower delay* (*Not
            the actual name of the paper)</strong> <br> Submission made to the 22nd USENIX Symposium on Networked Systems Design and Implementation (NSDI 25), under review.  <br> Still working on it for future conferences</p>
    </article>
    <article>
        <p>Will be more in the future!</p>
    </article>
</section>