<section class="thirteen columns">
    <h1>Teaching & Mentoring Experiences</h1>
    <article>
        <header>
            <h1>Computer Networks</h1>

            <!--                <span>Johns Hopkings University</span>-->
            <span><p>Teaching Assistant Nanjing University </p><address>Nanjing, CN</address><time>Feb 2022 to May 2022</time></span>
        </header>
        <p>
            <br>Prepared lectures, lab sessions on SDN, and programmable network topics for over 50 sophomore-junior undergrads
            <br>Hosted several office hours for students on assignment and exam revise
            <br>Participated in the design and graded course assessments to ensure students understood materials and stayed on track
            </p>
    </article>
</section>